#download{
    .card{
        padding:3rem 1.5rem 15rem ;
        position: relative;
        & > img{
            width:14.86rem;
            position: absolute;
            bottom:0;
            right:-3.5rem;
        }
       
    }
    .buttons{
        flex-wrap: wrap;
        margin-top: 2rem;
    }
   
    @media (width >=80em){
        .card{
            padding:8rem 3.5rem; 
            & > div{
                max-width: 40rem;
            }
            & >img{
                width: 29.15rem;
            }

        }
    }
}