#pricing {
    --fs-price: 2rem;

    & header {
        text-align: center;
    }

    & .cards {
        margin-top: 2rem;
        
    }

    & h3 {
        font-size: 1.25rem;
        margin-top: 0;
    }

    & .card p {
        margin-top: .25rem;
        color: var(--text-color-secondary);
    }

    & zin-pricing {
        display: block;
        padding-block: 1.5rem;
        font: var(--fw-bold) var(--fs-price)/1.2 var(--ff-sans);
    }

    & zin-pricing small {
        font: var(--fw-base) 1rem/125% var(--ff-sans);
        color: var(--text-color-secondary);
    }

    & ul li {
        background: url(../assets/icons/Check.svg) no-repeat;
        padding-left: 2rem;
       color: var(--text-color-secondary);
    }

    & ul+small {
        
        display: block;
        margin-top: 1.5rem;
        
    }

    .btn {
        width: 100%;
    }

    & .separator {
        height: 1px;
        margin-block: 2rem;
        background: radial-gradient(var(--text-color-secondary), var(--surface-color) 70%);
    }

    & .premium {
        position: relative;

        .card {
            overflow: hidden;
            position: relative;
            padding-top: 4.25rem;
          

            &>span {
                font: 600 var(--fs-sm) var(--ff-sans);
                letter-spacing: 0.08em;
                color: var(--bg-color);
                text-transform: uppercase;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.75rem 2rem;
                border-bottom-right-radius: 2rem;
                background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary)100%);
            }





        }

        padding:2px;

        &:before {
            content: "";
            inset: 0;
            z-index: -1;

            position: absolute;
            background: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary)100%);
            border-radius: 1.5rem;

        }
    }

    @media (width>=80em) {
        --fs-price: 2.5rem;

        & header {

            max-width: 50rem;
            margin-inline: auto;

        }
        & .premium .card{
            padding-bottom: 6rem;
        }
        & .card:nth-child(2){
            .separator{
                margin-block: 1.5rem;
            }
        }
    }
}