.px-lg {
    padding-inline: var(--px-lg);
}

.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}




.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    border: 1px solid blue;
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.even-colums {
    display: grid;
    gap: 1rem;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.gap-1{
    gap:1rem;
}
@media (width >=80em) {
    .container {
        --max-width: 80em;

    }

    .desktop-only {
        display: initial;
    }

    .even-colums {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}